
/* 공통 속성 */
* { font-family: 'Noto Sans KR', sans-serif !important; }
.flex { display:flex; }
.flexCol { flex-direction:column; }
.flexRow { flex-direction:row; }
.flexJus { justify-content:center; }
.flexAli { align-items:center; }
.cursor-pointer { cursor:pointer; }
.minWidthMaxContent { min-width:max-content; }
.scrollXEnabler { overflow-x:auto; }
a:hover, a:visited, a:active, a:link { color: initial; text-decoration:none !important; }
.border-radius-all-25 { border-style:solid !important; border-width:1px !important; border-radius: 0.25rem !important; }
.grayInputGroup :is(div, input) { border-color: var(--input-border-color) !important; }
/* 색상 속성 */
:root {
    --input-border-color: rgb(118, 118, 118);
}

/* 엘레멘트별 속성 */
#topProfileBox, ASIDE#accordionSideMenu div.accordion-body { cursor:pointer; }
#topProfileImage { width:2rem; height:2rem; object-fit:cover; }
NAV .navbar-brand { font-size:25px; padding-top:0; text-transform: capitalize; line-height: 40px; }
.navbar-dark .navbar-nav .nav-link { word-break: keep-all; }
.navLoginNick { font-size:1rem; word-break: keep-all; }
.navLoginId { font-size:0.65rem; word-break: keep-all; }
#topProfileImage { width: 2.5rem; height: 2.5rem; }
HEADER .subject { font-weight:900; box-sizing: border-box; width:fit-content; margin:-3px; }
ASIDE#accordionSideMenu div.accordion-body:hover { background:var(--bs-blue); color:var(--bs-white); }
FOOTER { background:var(--bs-gray-400); }

/* 미디어쿼리 속성 */
@media (max-width: 992px) { /* ~모바일 */
    .container { max-width: 100%; }
    FOOTER { font-size:.6rem; }
}
@media (min-width: 992px) { /* PC~ */
    .container { max-width: 940px; }
    FOOTER { font-size:.8rem; }
}
@media (min-width: 1200px) {
    .container { max-width: 1130px; }
    FOOTER { font-size:1rem; }
}

/* 클릭 시 확대되는 애니메이션 */
@keyframes heartbeat {
    0% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* 스피너 */
:root { --spinner-size:1.25rem; --spinner-color:var(--bs-white); }
@keyframes spinner { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
.spinner { width:var(--spinner-size); height:var(--spinner-size); display:none; }
.spinner.loading { display:block; }
.spinner.loading:after {
    content:""; float:left; width:var(--spinner-size); height:var(--spinner-size);
    border-width: calc(var(--spinner-size) / 6); border-style: solid; border-color: transparent;
    border-top-color: var(--spinner-color); border-bottom-color: var(--spinner-color);
    border-radius: 50%; box-sizing: border-box;
    animation: spinner 0.8s ease infinite;
}

/* 디버그용 */
/*HEADER { background:url("https://cdn.pixabay.com/photo/2021/12/09/20/58/christmas-cookies-6859116_960_720.jpg"); }*/
FOOTER { font-weight:100; }
    