<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gatherFile">

	<!-- 시퀀스 번호 획득 -->
	<select id="getSequence" resultType="int">
		SELECT gather_file_seq.NEXTVAL FROM DUAL
	</select>
	
	<!-- 소모임 추가 -->
	<insert id="save" parameterType="gatherFileDto">
		INSERT INTO gather_file
		VALUES(
			#{gatherFileIdx}, #{gatherIdx}, #{gatherFileUserName}, #{gatherFileServerName}, #{gatherFileSize}, #{gatherFileType}
		)
	</insert>
	
	<!-- 소모임 첨부파일 DTO 획득 by 파일번호 -->
	<select id="getNo" parameterType="int" resultType="gatherFileDto">
		SELECT * FROM gather_file
		WHERE gather_file_idx = #{gatherFileIdx}
	</select>
	
	<!-- 소모임 첨부파일 DTO 획득 by idx -->
	<select id="getIdx" parameterType="int" resultType="gatherFileDto">
		SELECT * FROM gather_file
		WHERE gather_idx = #{gatherIdx}
	</select>
	
	<delete id="delete" parameterType="int">
	  delete from gather_file where gather_idx=#{gatherIdx}
	</delete>
	<delete id="deleteAjax" parameterType="int">
	delete from gather_file where gather_file_idx=#{gatherFileIdx}
	</delete>
	
	<delete id="deleteList" parameterType="map">
		DELETE FROM
			gather_file
		WHERE
			gather_idx = #{gatherIdx}
			<if test="list != null">
				AND gather_file_idx IN
				<foreach collection="list" item="one" open="(" close=")" separator=",">#{one}</foreach>
			</if>
			
	</delete>
	
	
</mapper>