<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
	myBatis 매퍼 파일
	- DBMS에서 실행할 SQL 구문을 저장하는 XML 파일
	- namespace를 통해서 여러 개의 매퍼를 구분한다
	- 테이블 당 1개씩 만드는 것이 일반적이며, 따라서 namespace를 테이블명으로 작성하면 구분이 용이하다.
	- <insert> , <select> , <update> , <delete>를 이용해서 CRUD 구문을 작성한다.
	- 각 구문은 외부에서 호출이 가능하도록 반드시 ID를 겹치지 않게 부여해야 한다.
	- parameterType 은 구문을 실행하기 위해 필요한 데이터의 형태를 말한다.
	- resultType은 구문을 실행한 결과를 어떤 형태로 변환해야 하는지를 말한다.
 -->

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gather">

<select id="getSequence" resultType="int">
select gather_seq.nextval from dual
</select>

<select id="list" resultType="GatherVO">
select * from  gather g left outer join
 (select distinct gather_idx, min(gather_file_idx) as gather_file_idx
  from gather_file group by gather_idx) f  
  on  f.gather_idx = g.gather_idx  
  order by g.gather_idx desc 
</select>
	
<select id ="listSearch" parameterType="GatherSearchVO" resultType="GatherVO">
<!-- 장소 + 제목    유사 검색이 둘다 가능하다.-->
 select * from  gather g left outer join
 (select distinct gather_idx, min(gather_file_idx) as gather_file_idx
  from gather_file group by gather_idx) f  
  on  f.gather_idx = g.gather_idx 
  <where> 
 <if test="gatherName != '' ">
  AND instr(gather_name,#{gatherName}) >0
  </if>
  	<if test="gatherLocRegion != null">
   	AND instr(gather_loc_region,#{gatherLocRegion}) >0
 	</if>
 	<if test="category != null">
 	AND lec_category_name in
	<foreach item="statOne" collection="category" open="(" close=")" separator="," >
	#{statOne}
	</foreach>
</if> 
  </where>
  order by g.gather_idx desc
</select>


<insert id="insert" parameterType="GatherDto">
insert into gather(gather_idx, member_idx, lec_category_name,
 place_idx, gather_name, gather_detail, gather_registered,
 gather_head_count, gather_loc_region, gather_loc_latitude,
 gather_loc_longitude,gather_start,gather_end,
 
 gather_max, gather_status)
values(#{gatherIdx},#{memberIdx},#{lecCategoryName},
#{placeIdx},#{gatherName},#{gatherDetail},sysdate,
#{gatherHeadCount},#{gatherLocRegion},#{gatherLocLatitude},
#{gatherLocLogitude},#{gatherStart},#{gatherEnd},
#{gatherMax},#{gatherStaus}
)
</insert>
<select id="get" parameterType="int" resultType="GatherVO">
select g.*, m.member_nick 
from gather g  
left outer join
member m  
ON g.member_idx = m.member_idx
 where gather_idx=#{gatherIdx}
</select>

<delete id="delete" parameterType="int">
delete  gather where gather_idx= #{gatherIdx}
</delete>

<update id="update" parameterType="GatherDto">
update gather set gather_name=#{gatherName}, 
lec_category_name=#{lecCategoryName}, 
place_idx=#{placeIdx}, gather_detail=#{gatherDetail}, 
gather_registered=sysdate,
gather_loc_region = #{gatherLocRegion}, gather_loc_latitude=#{gatherLocLatitude},
 gather_loc_longitude=#{gatherLocLogitude}, 
gather_start=#{gatherStart}, gather_end =#{gatherEnd}, gather_max=#{gatherMax}
where gather_idx=#{gatherIdx}

</update>

<!-- 댓글 입력 -->
<insert id="replyInsert" parameterType="GatherReplyDto">
insert into gather_reply values
(gather_reply_seq.nextval,#{memberIdx},#{gatherIdx},
#{gatherReplyDetail},sysdate,1,1,1)
</insert>


<!-- 해당 게시물 댓글리스트 -->
<select id="replyList"  parameterType="int"      resultType="GatherReplyVO">
select  m.member_nick,r.*
from gather g  
left outer join
member m  
ON g.member_idx = m.member_idx
left outer join
gather_reply r
on g.gather_idx= r.gather_idx
where r.gather_idx = #{gatherIdx}
</select>

<!-- 댓글 삭제 -->
<delete id="replyDelete" parameterType="int">
delete  from gather_reply where gather_reply_idx=#{gatherReplyIdx}
</delete>

<!-- <select id="getUpdate" parameterType="int" resultType="GatherVO"> -->
<!-- select g.*, m.member_nick ,f.gather_file_idx -->
<!-- from gather g   -->
<!-- left outer join -->
<!-- member m   -->
<!-- ON g.member_idx = m.member_idx -->
<!-- left outer join -->
<!-- gather_file f -->
<!-- on g.gather_idx= f.gather_idx where g.gather_idx=#{gatherIdx} -->
<!-- </select> -->


</mapper>